*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Mochiy Pop P One', sans-serif;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
    scroll-padding-top: 3rem;
    
}
:root{
    --bg-color: rgb(201, 135, 170);
    --second-bg-color: rgb(242, 146, 223);
    --text-color: rgb(130, 14, 66);
    --second-color: rgb(155, 33, 104);
    --main-color: rgb(213, 93, 181);
    --other-color: rgb(86, 177, 234); 
    --big-font: 5.0rem;
    --h2-font: 3.0rem;
    --p-font: 1rem;
}
body{
    background: var(--bg-color);
    color: var(--text-color);
}
header{
    background: rgb(217, 171, 179);
    padding: 15px 6%;
    position: fixed;
    width: 100%;
    right: 0;
    top: 0;
    z-index: 1000;
    display:flex;
    align-items: center;
    justify-content: space-between ;
}
.logo{
   font-size: 30px; 
   font-weight: 600;
   color: var(--second-color);
}
.navlist{
    display:flex;
}
.navlist li{
    position: relative ;
}
.navlist a{
    color: var(--text-color);
    font-weight: 300;
    font-size: 17px;
    padding: 8px 15px

}
.navlist a::after{
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background: var(--main-color);
    left: 0;
    bottom: -4px;
    transition: ease .40s;
}
.navlist a:hover::after{
    width: 100%;
}
#menu-icon{
    font-size: 30px;
    color: var(--text-color);
    cursor: pointer;
    z-index: 10001;
    display: none;

}
section{
    padding: 120px 50px;
}
.home{
    height: 100vh;
    width: 100%;
    background: url(../img/background6.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
}
.home-text{
    padding-top: 120px;

}
.home-text h1{
    font-size: 70px;
    color: var(--main-color);
    line-height: 1;
    font-weight: 300;
    letter-spacing: 1.5px;
    margin: 0 0 25px;
}
.home-text h4{
    color: var(--other-color);
    font-size: 30px;
    line-height: 1.1;
    font-weight: 200;
    margin-bottom: 40px;
}
.btn{
    display: inline-block;
    font-size: 15px;
    font-weight: 500;
    padding: 15px 30px;
    background-color: var(--main-color);
    color: var(--text-color);
    border-radius: 25px;
    border: 1.5px solid transparent;
    text-transform: uppercase;
    transition: ease .30s;
}
.btn:hover{
    transform: translateY(-10px);
    background: transparent;
    color: var(--main-color);
    border: 1.5px solid var(--main-color);
}
.skills{
    display: flex;
    flex-wrap: wrap;
    margin-top: 100px;

}
.skills li{
    margin-right: 40px;
    font-size: 20px;
    font-weight: 400;
    color: var(--text-color)

}

.about {
    background: var(--bg-color);
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    align-items:center;

}
.my-image img{
    max-width: 100%;
    width: 500px;
height: auto;
}
.about-text h2{
    font-size: var(--h2-font);
    color: var(--second-color);
    font-weight: 600;
    line-height: 1;
    margin-bottom: auto;

}
.about-text p{
    margin: 30px 12px;
}

.skills{
    background-color: var(--second-bg-color);
}
.heading{
    text-align: center;
}
.heading h2 {
    font-size: 50px;
    font-weight: 600;
   margin-bottom: 30px;
   line-height: 2;
   color: var(--second-color);

}
.heading h4{
    font-size: 20px;
    color: var(--text-color);
    font-weight: 600;
    line-height: 1;
    margin-bottom: 20px ;

}
.heading li{
font-weight: 600;
font-size: 50px;
display: flex;
justify-content: center;
flex-direction: row;

}
.box{
    background: var(--bg-color) ;
    padding: 40px 30px;
    border-radius: 4px;
}
.box i{ 
    color: var(--text-color);
    margin-bottom: 20px;
}
.portfolio-content{
    display:grid;
grid-template-columns: repeat( auto-fit,minmax(100px, auto)) ;
    align-items: center;
    margin-top: 30px;
    text-align: center;
    cursor: pointer;
}
.col{
    position: relative;
}
.col img{
    max-width: 100%;
    width: 500px;
    height: auto;
}
.layer{
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    border-radius: 10px;
    top: 0;
    left: 0;
    transition: all .35s;
}
.layer:hover{
    background: linear-gradient(rgba(22,22,22,0.09) 0%, #e86b98);
}
.layer h3{
    position:absolute;
    width: 100%;
    font-size: 25px;
    font-weight: 400;
    color: var(--text-color);
    transform: translateY(-20%);
    opacity: 0;
    transition: all .10s;
}
.layer:hover h3{
    opacity:1;
}
.icon h4{
    font-size: 25px;
    font-weight: 500;
    color: var(--second-color);
    background: var(--main-color);
    border-radius: 10px;
  
}
.icon a{
    display: inline-flex;
    align-items: flex-start;
    background: var(--main-color);
   justify-content: flex-start;
    width: 50px;
    height:50px;
    margin: auto;
    color: var(--other-color);
    font-size: 50px;
    border-radius: 50%;
    transition: all .30s
}
.icon a:hover{
    transform: translateY(-10px) ;
}

@media (max-width: 1000px){
    header{
        padding: 18px 2%;
        transition: .3s;
    }
    section {
        padding: 60px  2%;
        transition: .3s;
    }
    :root{
        --big-font: 4rem;
        --h2-font: 2rem;
    }
    home-text h4{
        font-size: 1rem;
    }
}
@media (max-width: 900px){
    header{
        padding: 12px 1.5%;
    }
    .home{
        height:80vh;
    }
    #menu-icon{
        display:block;
    }
}
